/* --------------Slick Slider------------- */
@media screen and (max-width: 767px) {
  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .tekup-header-btn {
    display: none;
  }

  .header-icon-info-box {
    display: none;
  }
}

.slick-prev,
.slick-next {
  z-index: 8 !important;
  width: 60px !important;
  height: 60px !important;
  transition: all 0.4s !important;
  border-radius: 100% !important;
  background-color: white !important;
  box-shadow: 0 16px 50px 0 rgba(13, 14, 29, 0.12) !important;
}

.slick-next:before,
.slick-prev:before {
  transition: all 0.4s !important;
  font-family: "remixicon" !important;
  font-style: normal;
  color: black !important;
  opacity: 1 !important;
}

.slick-next:before {
  content: "\ea6e" !important;
}

.slick-prev:before {
  content: "\ea64" !important;
}

.slick-prev:hover:before {
  transition: all 0.4s !important;
  color: white !important;
}

.slick-next:hover:before {
  transition: all 0.4s !important;
  color: white !important;
}

.slick-next:hover {
  transition: all 0.4s !important;
  color: white;
  outline: none;
  background-color: blue !important;
}

.slick-prev:hover {
  transition: all 0.4s !important;
  color: white;
  outline: none;
  background-color: blue !important;
}

/* -----------home-2---------- */
.slick-slider-btn .slick-next {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  right: 50px;
}

.slick-slider-btn .slick-prev {
  left: 50px;
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.slick-slider-btn .slick-next:before {
  color: white !important;
}

.slick-slider-btn .slick-prev:before {
  color: white !important;
}

.slick-slider-btn .slick-prev:hover {
  background-color: white !important;
}

.slick-slider-btn .slick-next:hover {
  background-color: white !important;
}

.slick-slider-btn .slick-prev:hover:before {
  color: blue !important;
}

.slick-slider-btn .slick-next:hover:before {
  color: blue !important;
}

.home-two-testimonial .tekup-t-two-column-slider-wrap {
  border: none !important;
}
.tekup-t-two-column-slider-item{
  border: 1px solid #e7e7e8;
  background-color: white;
}


/* Base styles for elements with data-animation-in attribute */
[data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
}

/* Define keyframes for fadeInRight animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(900px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the fadeInRight animation based on the data attribute */
[data-animation-in="fadeInRight"].animated {
  animation-name: fadeInRight;
  opacity: 1;
  /* Ensure opacity transitions to 1 when the animation starts */
}

.tekup-hero-slider-item-one {
  background-image: url("/images/hero/hero-bg3.png");
}

.tekup-hero-slider-item-two {
  background-image: url("/images/hero/hero-bg1.png");
}

/* Hero Section Six CSS */

.tekup-hero-slider-item-three {
  background-image: url("/images/hero/hero-bg5.png");
}

.tekup-hero-slider-item-four {
  background-image: url("/images/hero/hero-bg1.png");
}

/* ------------home-4--------- */
.tekup-portfolio-wrap3,
.tekup-team-wrap,
.tekup-portfolio-wrap,
.tekup-service-wrap,
.tekup-iconbox-wrap {
  width: 95% !important;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-dots li.slick-active button:before {
  font-size: 15px !important;
  opacity: 1;
  color: blue !important;
}

.slick-dots {
  bottom: -40x !important;
}

/* ---------------aboutpage/contentsecion------- */
.skillbar {
  opacity: 1;
}

@keyframes fill {
  0% {
    width: 0;
  }

  100% {
    width: 86%;
  }
}

@keyframes fillTwo {
  0% {
    width: 0;
  }

  100% {
    width: 72%;
  }
}

@keyframes fillThree {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.progressbar-one {
  animation: fill 2s ease-in-out;
}

.progressbar-two {
  animation: fillTwo 2s ease-in-out;
}

.progressbar-three {
  animation: fillThree 2s ease-in-out;
}

/* -----------Accordion-------------- */
.price-accordion .accordion-button span {
  color: #0119ff;
  margin-right: 8px;
}

.accordion-button::after {
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion-one .accordion-button:not(.collapsed) {
  color: #0119ff;
  background-color: transparent;
  box-shadow: none;
}

.price-accordion .accordion-button {
  font-size: 22px !important;
}

.price-accordion .accordion-body p {
  font-size: 20px !important;
}

.accordion-one .accordion-button {
  color: #0d0e1d;
  font-size: 26px;
  font-family: Afacad, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 0;
  line-height: 1;
}

.accordion-one .accordion-button {
  color: #0d0e1d;
  font-size: 26px;
  font-family: Afacad, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 0;
  line-height: 1;
}

.accordion-one .accordion-body {
  padding: 15px 15px 0px 0px;
}

.accordion-one .accordion-item {
  padding: 28px;
  margin-bottom: 14px;
  transition: all 0.4s;
}

.price-accordion .accordion-item {
  border: 0;
}

.accordion-one .accordion-button::after {
  content: "\ea4e";
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "remixicon" !important;
}

.accordion-one .accordion-button:not(.collapsed)::after {
  color: #0119ff;
  content: "\ea4e";
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "remixicon" !important;
}

/* Home Seven accordion extra style */
.accordion-two .accordion-button h5 {
  color: #0d0e1d !important;
  background-color: transparent !important;
  border: none !important;
}

.accordion-two .accordion-button {
  background-color: transparent !important;
  border: none !important;
}

.accordion-two .accordion-button:not(.collapsed) h5 {
  color: #0c63e4 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-two .accordion-item {
  background-color: transparent !important;
  border: none !important;
}

.accordion-extra-style .tekup-accordion-item2 {
  padding: 10px 0px 10px 0 !important;
}

.accordion-extra-style h2.accordion-header {
  margin-bottom: 0px !important;
}

.accordion-extra-style .accordion-body {
  padding: 0px 0px 0px 50px;
}

/* ----------------------------- PORTFOLIO SECTION ----------------------------- */
.Portfolio-thumb-img {
  width: 98% !important;
  margin: auto;
}

.Portfolio-thumb-img-two {
  width: 97.5% !important;
  margin: auto;
}

.takeup-portfolio-menu {
  margin-bottom: 0px;
}

.option-set {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  user-select: none;
}

@media (max-width: 565px) {
  .option-set {
    gap: 0px;
    row-gap: 5px;
  }
}

#tekup-portfolio-grid {
  margin: 50px auto 0 auto;
  height: auto;
}

#tekup-portfolio-masonay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#tekup-portfolio-masonay .filter-item {
  position: unset !important;
}

#tekup-portfolio-masonay .filter-item:nth-child(-n + 3) {
  grid-column: span 1 / span 1;
}

#tekup-portfolio-masonay .filter-item:nth-child(4) {
  grid-column: span 1 / span 1;
}

#tekup-portfolio-masonay .filter-item:nth-child(5) {
  grid-column: span 2 / span 2;
  grid-row-end: span 1;
}

#tekup-portfolio-masonay .filter-item:nth-child(9) {
  grid-column: span 2 / span 2;
  grid-row-end: span 1;
}

#tekup-portfolio-grid .filter-item {
  width: 33%;
  height: auto;
  text-align: left;
}

@media (max-width: 991px) {
  #tekup-portfolio-grid .filter-item {
    width: 50%;
  }

  #tekup-portfolio-masonay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  #tekup-portfolio-grid .filter-item {
    width: 100%;
  }

  #tekup-portfolio-masonay {
    display: block;
  }

  .Portfolio-thumb-img {
    width: 95% !important;
    margin: auto;
  }

  .Portfolio-thumb-img-two {
    width: 95% !important;
  }
}

@media (max-width: 565px) {
  .filter-item {
    width: 100%;
  }
}

/* Home Two Hero Section Start*/
.swiper-button-prev,
.swiper-button-next {
  width: 60px !important;
  height: 60px !important;
  left: 60px;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s;
  border-radius: 100%;
  transform: translateY(-50%);
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px !important;
  font-weight: 700 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #fff;
  color: #0119ff;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 60px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 60px !important;
}

/* Home Two Hero Section End*/

.popup-video {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999 !important;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(11, 11, 11, 0.8);
}

.video-wrapper {
  position: relative;
  width: 100%;
  width: 900px;
  height: 510px;
  max-width: 900px;
  z-index: 999999 !important;
}

.video-wrapper #youtube-video {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .video-wrapper {
    width: 70%;
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .video-wrapper {
    height: 350px;
  }
}

@media (max-width: 780px) {
  .video-wrapper {
    height: 300px;
  }
}

@media (max-width: 560px) {
  .video-wrapper {
    height: 170px;
  }
}

.popup {
  display: flex;
}

.popdown {
  display: none;
}

.mfp-close {
  position: absolute;
  top: -45px !important;
  right: -15px !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

body.disable-scroll {
  overflow: hidden;
}

/* Vieo popup styles end here */

/* Single shop section tab styles start here */
.shows {
  animation: fade 0.4s linear 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Single shop section tab styles end here */

/* Team Card Extra Padding CSS Start*/
.extra-padding-off {
  padding-right: 3px !important;
  padding-left: 3px !important;
}
/* Team Card Extra Padding CSS End*/

/* For play btn home 4 */
.playBtn {
  cursor: pointer;
}
